
    <div class="flex justify-center mt-40">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src='/lottie_files/404.json'  background="transparent"  speed="1" style="width: 600px; height: 600px;" loop autoplay></lottie-player>
    </div>
    <div class="flex justify-center mt-6 text-3xl">
        <p>Lost your way? Don't worry let me take you back :)</p>
    </div>
    <div class="flex justify-center mt-10">
        <a href="index.html" class=" ml-4 hidden md:block p-3 px-6 pt-2 text-white bg-indigo-500 shadow-lg shadow-indigo-500/50 rounded baseline hover:bg-indigo-700">Home</a>
    </div>
