  <footer>
    <small>Copyright <span id="copyrightYear"></span> Zain Qureshi </small>
  </footer>
  <script>
    document.querySelector('#copyrightYear').textContent = new Date().getFullYear().toString();
  </script>