<header>
    <div class="mt-2">
        <!-- <div>
        <a href="index.html">
            <img src="/logo/zq-pink-cropped.png" class="h-20 hidden md:flex">
        </a>
        </div> -->
        <nav class="relative container mx-auto p-6">
            <div class="flex items-center justify-between">
                <!-- <div class="pt-2">
                    <img src="/logo/Zain Qureshi pink.png" class="h-60 w-60">
                </div> -->
                <!-- Menu Items -->
                <div class="hidden md:flex space-x-6">
                        <a class="hover:underline underline-offset-8 p-3 decoration-4 decoration-indigo-500" href="index.html">Home</a>
                        <a class="hover:underline underline-offset-8 p-3 decoration-4 decoration-indigo-500" href="about.html">About</a>
                        <a class="hover:underline underline-offset-8 p-3 decoration-4 decoration-indigo-500" href="projects.html">Projects</a>
                        <a class="hover:underline underline-offset-8 p-3 decoration-4 decoration-indigo-500" href="education.html">Education</a>
                        <a class="hover:underline underline-offset-8 p-3 decoration-4 decoration-indigo-500" href="blog.html">Blog</a>
                </div>
                <!-- Button -->
                <a href="" class="hidden md:block p-3 px-6 pt-2 text-white bg-indigo-500 shadow-lg shadow-indigo-500/50 rounded baseline hover:bg-indigo-700">Download CV</a>
            </div>
        </nav>
    </div>
</header>