<header>
  <div class="mt-2 text-lg">
    <nav class="container mx-auto p-6">
      <div class="flex flex-row justify-end">
        <!-- Desktop/Tablet Menu Items -->
        <div class="hidden md:flex space-x-6 dark:text-slate-300">
          <a class="hover:underline underline-offset-8 p-3 hover:animate-twPulse decoration-4 decoration-indigo-500" href="index.html"
            >Home</a
          >
          <a class="hover:underline underline-offset-8 p-3 hover:animate-twPulse decoration-4 decoration-indigo-500" href="projects.html"
            >Projects</a
          >
          <a class="hover:underline underline-offset-8 p-3 hover:animate-twPulse decoration-4 decoration-indigo-500" href="education.html"
            >Education</a
          >
          <a class="hover:underline underline-offset-8 p-3 hover:animate-twPulse decoration-4 decoration-indigo-500" href="blog.html"
            >Blog</a
          >
        </div>
      </div>
    </nav>
  </div>
</header>