<section>
  <div class="container flex flex-col overflow-auto md:flex-row justify-start mx-auto mt-10 h-full">
        <h1 class="flex flex-col justify-start h-20 text-5xl font-bold text-slate-300">
            Work Experience
        </h1>
  </div>
</section>